/* colors:
red: #E4424D;
pink: #EFAAAF;
teal: #46717A;
yellow: #E8BC65;
offwhite: #E6E6E6;
offblack: #1F1F1F
*/

body {
  background-image: url("../images/bar-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
}

.hidden {
  display: none;
}

.nav {
  /* margin-top: 1em; */
}

.nav-item {
  margin-right: 1em;
  margin-top: 1.5em;
}

select {
  /* margin-top: 1em; */
  height: 40px;
  color: grey;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.button-row {
  width: 100%;
  margin: 12em auto 10em auto;
}

.view-btn {
  background-color: #E4424D;
  color: white;
  border: none;
  border-radius: 30px;
  position: relative; 
  margin-right: 15px;
  padding: 5px;
  height: 50px;
  width: 150px;
}

.view-btn:hover {
  cursor: pointer;
  background-color: #EFAAAF;
  border: none;
}

.add-btn {
  background-color: #E4424D;
  color: white;
  border: none;
  border-radius: 30px;
  position: relative; 
  margin-left: 15px;
  padding: 5px;
  height: 50px;
  width: 150px;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #EFAAAF;
  border: none;
}

.menu {
  margin: auto;
  width: 100%;
  display: inline;
  border-radius: 7px;
  border: 1px solid #E3A899;
  background-color: white;
  /* background-color: #E3A899; */
}

.menu a {
  /* color: #F78166; */
  color: grey;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1em;
  z-index: 1 !important;
}

@media (min-width: 500px) {
  .menu a:hover {
    color: #ffa428;
  }
}
@media (min-width: 992px) {
  .menu a:hover {
    color: #ffa428;
    /* font-size: 1.2em; */
  }
}

@media (min-width: 500px) {
  .recipe-list {
    width: 100%;
    margin: 0px auto 5em auto;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  .recipe-list {
    width: 80%;
    margin: 0px auto 5em auto;
    z-index: 0;
  }
}

.recipe-row {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px auto 0px auto;
  cursor: pointer;
  z-index: 0;
}

.recipe-row:hover {
  margin-left: 10px;
}

form {
  margin: 12em auto 10em auto;
  width: 50%;
}

.form-control {
  display: inline;
}

.instructions-row {
  margin-top: 1em;
}

/* .alcohol-menu {
  height: 128px;
  width: 100%;
  overflow: scroll;
} */

.ingInput {
  width: 100%;
}

.mainOz {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-color: #E8BC65;
}

.ingredients-list {
  border-color: #E8BC65;
}

select {
  border-color: #E8BC65;
}

.nav-link:active {
  background-color: green;
}

.dropdown-item {
  width: 100%;
}

.add-recipe-btn {
  margin: auto;
  border-radius: 20px;
  background-color: #E8BC65;
}

.recipe-list {
  margin-top: 10em;
}

.recipe-row {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.footer {
  text-align: right;
  /* margin-right: 5em; */
  margin-bottom: 1em;
  margin-top: 30em;
}

.footer a {
  font-family: 'Rubik' , sans-serif;
  font-size: 1.25em;
  color: #46717A;
}

.footer a:hover {
  color: #E3A899;
  text-decoration: none;
}

.footer p {
  color: white;
  margin-right: 1em;
}

#alcoholSearch {
  text-align: center;
}