<div class="container"> 
  <div class="row">
    {{!-- nav bar --}}
    <ul class="nav nav-pills">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li><a href="form">+</a></li>
      <li><a href="recipes">My Recipes</a></li>
    </ul>
  </div>

  {{!-- form --}}
  <form>
    <div class="row">
      <div class="col-12 form-group">
        <input type="email" class="form-control" id="nameInput" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="col-6"> 
        <ul class="animated nav nav-pills">
          <li class="nav-item dropdown menu mainAlc-menu">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alcohol</a>
            <div class="dropdown-menu alcohol-menu">
              <button class="dropdown-item alcohol-item" id="vodka">
                Vodka
              </button>
              <button class="dropdown-item alcohol-item" id="bourbon">
                Bourbon
              </button>
              <button class="dropdown-item alcohol-item" id="scotch">
                Scotch
              </button>
              <button class="dropdown-item alcohol-item" id="tequila">
                Tequila
              </button>
              <button class="dropdown-item alcohol-item" id="gin">
                Gin
              </button>
              <button class="dropdown-item alcohol-item" id="rum">
                Rum
              </button>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="col-6">
        <ul class="animated nav nav-pills">
          <li class="nav-item dropdown menu ingredients-list">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ingredients</a>
            <div class="dropdown-menu ingredients-div">
              <input class="ingInput" type="text" placeholder="2oz lime juice" id="ing1">
              <input class="ingInput" type="text" placeholder="" id="ing2">
              <input class="ingInput" type="text" placeholder="" id="ing3">
              <input class="ingInput" type="text" placeholder="" id="ing4">
              <input class="ingInput" type="text" placeholder="" id="ing5">
              <input class="ingInput" type="text" placeholder="" id="ing6">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row instructions-row">
      <div class="col-12 form-group">
        <textarea class="form-control" id="instructionsInput" rows="5" placeholder="Instructions"></textarea>
    </div>
    </div>
    <div class="row text-center">
      <button type="button" class="btn btn-danger add-recipe-btn">
          {{!-- <a href="recipes">ADD RECIPE</a> --}}
        </button>
    </div>
  </form>

  {{!-- footer --}}
  <div class="footer">
    <div class="row">
      <div class="col-3 text-center">
        <a href="https://github.com/vormc2005">Ken Shiriashi</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/aya828">Aya Yoshida</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/MichaelRempe">Michael Rempe</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/mhitchi/">May Hitchings</a>
      </div>
      
    </div> {{!-- /row --}}
    <div class="row">
      <div class="col-12">
        {{!-- TODO NOT SHOWING --}}
        <p>February 2020</p>
      </div>
    </div>
  </div>{{!-- /footer --}}
</div>
