<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <p id="title" class="animate zoomIn">Recipe Room</p>
    </div>
  </div>
  
  {{!-- buttons --}}
  <div class="row">
    <div class="button-row text-center">
      <div class="col-12">
        <button type="button" class="btn btn-danger view-btn">
          <a href="recipes">VIEW RECIPES</a>
        </button>

        <button type="button" class="btn btn-danger add-btn">
          <a href="form">ADD RECIPE</a>
        </button>
      </div>
    </div>
  </div>

  {{!-- footer --}}
  <div class="footer">
    <div class="row">
      <div class="col-3 text-center">
        <a href="https://github.com/kshiraishi22">Ken Shiraishi</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/aya828">Aya Yoshida</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/MichaelRempe">Michael Rempe</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/mhitchi/">May Hitchings</a>
      </div>
      
    </div> {{!-- /row --}}
    <div class="row">
      <div class="col-12">
        {{!-- TODO NOT SHOWING --}}
        <p>February 2020</p>
      </div>
    </div>
  </div>{{!-- /footer --}}
</div>{{!-- /container --}}