<div class="container">
  <div class="row">
    {{!-- nav bar --}}
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class-"nav-link">Home</a>
      </li>
      <li class="nav-item"><a href="../../form"  class-"nav-link">+</a></li>
      <li class="nav-item"><a href="recipes" class-"nav-link">My Recipes</a></li>
    </ul>
  </div>

  <div class="row">
    {{!-- display all recipes --}}
    <div class="recipe-list">
      {{!-- TRIED {{#each Recipes}} --}}
      {{#each recipes}}
        <div class="animated row recipe-row col-12 fadeInUp">
        {{!-- recipe image --}}
        <img src="../static/images/bar-pic.jpg">
        {{!-- recipe info --}}
        <h1>{{this.dataValues.name}}</h1>
      {{/each}}
      </div>
      {{!-- {{/each}} --}}
    </div>
  </div>

   {{!-- footer --}}
  <div class="footer">
    <div class="row">
      <div class="col-3 text-center">
        <a href="https://github.com/kshiraishi22">Ken Shiraishi</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/aya828">Aya Yoshida</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/MichaelRempe">Michael Rempe</a>
      </div>
      <div class="col-3 text-center">
        <a href="https://github.com/mhitchi/">May Hitchings</a>
      </div>
      
    </div> {{!-- /row --}}
    <div class="row">
      <div class="col-12">
        {{!-- TODO NOT SHOWING --}}
        <p>February 2020</p>
      </div>
    </div>
  </div>{{!-- /footer --}}
</div>